{% load static %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
<nav class="nav">
    <div class="nav__container">
        <a class="nav__logo" href="{% url 'home' %}">AIRSOFT WORKSHOP</a>
        <button class="nav__toggle" id="navToggle">
            <span class="nav__icon"></span>
        </button>
        <div class="nav__menu" id="navMenu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a class="nav__link" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="{% url 'products' %}">Услуги</a>
                </li>
                <li class="nav__item">
                    <a class="nav__link" href="{% url 'user_reviews' %}">Отзывы</a>
                </li>
            </ul>
            <div class="nav__info">
                <span class="nav__work-time">Пн-Сб: 10:00-20:00</span>
                <a href="https://vk.com/random" target="_blank" class="nav__social">
                    <img src="{% static 'vklogo2.png' %}" alt="VK" class="nav__icon">
                </a>
                <a href="https://t.me/random" target="_blank" class="nav__social">
                    <img src="{% static 'telegramm.png' %}" alt="Telegram" class="nav__icon">
                </a>
            </div>
        </div>
    </div>
</nav>

